.app-download {
    margin: 0 auto 100px;

    h2 {
        text-align: center;
        font-size: 45px;
    }

    .imgs {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        img {
            cursor: pointer;
        }
    }
}